.menu{
    background-color: rgb(209, 39, 118);
    border-radius: 8px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap; 
    justify-content: space-evenly;
}
.item_menu{
  flex: 1 1 50px;
  background-color: rgb(245, 109, 109); /*Vert*/
  width: 40%;
  border: 2px solid rgb(194, 60, 26);
  border-radius: 8px;
  box-sizing: border-box;
  margin: 5px;
  cursor: pointer;
  text-align: center;
  flex-direction: row;
  
}

.currentpage{
  flex: 1 1 50px;
  background-color: rgb(199, 97, 14); 
  width: 40%;
  border: 2px solid rgb(194, 26, 76);
  border-radius: 8px;
  box-sizing: border-box;
  margin: 5px;
  cursor: pointer;
  text-align: center;
  flex-direction: row;
}

.item_menu_deco{
  flex: 1 1 30px;
  background-color: rgb(245, 109, 109); /*Vert*/
  width: 10%;
  border: 2px solid rgb(194, 60, 26);
  border-radius: 8px;
  box-sizing: border-box;
  margin: 5px;
  cursor: pointer;
  text-align: center;
  flex-direction: row;
  
}

.item_menu_lang{
  flex: 1 1 20px;
  background-color: rgb(245, 118, 109); /*Vert*/
  width: 20%;
  border: 2px solid rgb(194, 26, 26);
  border-radius: 8px;
  box-sizing: border-box;
  margin: 5px;
  cursor: pointer;
  text-align: center;
  
}

.infos{
  flex: 10 1 100px;
  background-color: rgb(245, 109, 193); /*Vert*/
  width: 75%;
  border: 2px solid rgb(37, 26, 194);
  border-radius: 8px;
  box-sizing: border-box;
  margin: 5px;
  cursor: pointer;
  text-align: left;
}
.body{
  background-color: rgb(241, 241, 217);
  display: flex;
  flex-direction: column;
  padding: 10px;
  margin-bottom: 10px;
}

.container{
  display: flex;
  flex-direction: row;
  padding: 10px;
  margin-bottom: 10px;
}
.inline-container{
  display: inline-flex;
  padding: 10px;
}

.bleu{background-color: #28B;}
.vert{background-color: #2B8;}
.jaune{background-color: #BB2;}
.rouge{background-color: #E24;}