.menu{
    background-color: rgb(39, 195, 209);
    border-radius: 8px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap; 
    justify-content: space-evenly;
}
.item_menu{
  flex: 1 1 50px;
  background-color: rgb(109, 213, 245); /*Vert*/
  width: 40%;
  border: 2px solid rgb(76, 26, 194);
  border-radius: 8px;
  box-sizing: border-box;
  margin: 5px;
  cursor: pointer;
  text-align: center;
  
}

.item_menu_lang{
  flex: 1 1 20px;
  background-color: rgb(109, 213, 245); /*Vert*/
  width: 20%;
  border: 2px solid rgb(76, 26, 194);
  border-radius: 8px;
  box-sizing: border-box;
  margin: 5px;
  cursor: pointer;
  text-align: center;
  
}

.infos{
  flex: 10 1 100px;
  background-color: rgb(109, 213, 245); /*Vert*/
  width: 75%;
  border: 2px solid rgb(76, 26, 194);
  border-radius: 8px;
  box-sizing: border-box;
  margin: 5px;
  cursor: pointer;
  text-align: left;
}
.body{
  background-color: rgb(217, 239, 241);
  display: flex;
  flex-direction: column;
  padding: 10px;
  margin-bottom: 10px;
}

.currentpage{
  flex: 1 1 50px;
  background-color: rgb(14, 156, 199); 
  width: 40%;
  border: 2px solid rgb(76, 26, 194);
  border-radius: 8px;
  box-sizing: border-box;
  margin: 5px;
  cursor: pointer;
  text-align: center;
}
.container{
  display: flex;
  flex-direction: row;
  padding: 10px;
  margin-bottom: 10px;
}
.inline-container{
  display: inline-flex;
  padding: 10px;
}

.bleu{background-color: #28B;}
.vert{background-color: #2B8;}
.jaune{background-color: #BB2;}
.rouge{background-color: #E24;}